Repository H2020-OpenModel/ExecFlow: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(drawio|svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 24.2.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^execflow/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-PyYAML"
        - "pydantic<2"
        - "types-requests"

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args:
      # - "--rcfile=pyproject.toml"
      - "--extension-pkg-whitelist='pydantic'"
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      # - "--rcfile=pyproject.toml"
      - "--extension-pkg-whitelist='pydantic'"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Disable pylint pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update dependencies - minimum Python 3.9
  pyproject.toml
Due: none

Run bump-pydantic and use new methods
  .gitignore
  .pre-commit-config.yaml
  execflow/data/cuds.py
  execflow/data/file2collection.py
  execflow/data/oteapi/base.py
  execflow/data/oteapi/declarative_pipeline.py
  execflow/oteapi_strategies/dataresource.py
  pyproject.toml
  tests/__pycache__/conftest.cpython-310-pytest-7.3.1.pyc
  tests/__pycache__/conftest.cpython-38-pytest-7.2.1.pyc
  tests/conftest.py
  tests/declarative_chain/test_list.py
  tests/declarative_chain/test_simple_execution.py
  tests/wrapper/data/.coverage
  tests/wrapper/data/__pycache__/test_declarative_pipeline.cpython-310-pytest-7.3.1.pyc
  tests/wrapper/data/test_declarative_pipeline.py
  tests/wrapper/workflows/.coverage
  tests/wrapper/workflows/__pycache__/test_pipeline.cpython-310-pytest-7.3.1.pyc
  tests/wrapper/workflows/test_pipeline.py
Due: pylint, pylint-tests

Make pytest succeed
  execflow/data/cuds.py
  execflow/data/file2collection.py
  execflow/data/oteapi/declarative_pipeline.py
  execflow/data/oteapi/filterconfig.py
  execflow/data/oteapi/mappingconfig.py
  execflow/data/oteapi/resourceconfig.py
  execflow/data/oteapi/secretconfig.py
  execflow/data/oteapi/transformationconfig.py
  execflow/workchains/exec_wrapper.py
  execflow/workchains/oteapi_pipeline.py
  tests/conftest.py
  tests/declarative_chain/test_units.py
  tests/wrapper/data/test_declarative_pipeline.py
Due: pylint, pylint-tests

Don't run pylint in CI either - for now
  .github/workflows/ci_tests.yml
Due: none

Add jsonschema as a dependency
  pyproject.toml
Due: none

Replace ruamel and ignore some safety warnings
  .github/workflows/ci_tests.yml
  execflow/workchains/declarative_chain.py
  pyproject.toml
Due: pylint

Try to fix safety ignore options
  .github/workflows/ci_tests.yml
Due: none

Use githubusercontent instead of filesamples.com
  tests/samples/pipe.yml
  tests/samples/sample2.json
Due: none

Try to fix flaky test due to set()
  tests/wrapper/data/test_declarative_pipeline.py
Due: pylint-tests

Added most (if not all) things from Louis' ls/aiida_shell_version.
  execflow/entities/BandsData.json
  execflow/entities/CalcFunctionNode.json
  execflow/entities/CalcJobNode.json
  execflow/entities/Code.json
  execflow/entities/Dict.json
  execflow/entities/Float.json
  execflow/entities/FolderData.json
  execflow/entities/Int.json
  execflow/entities/KpointsData.json
  execflow/entities/List.json
  execflow/entities/OrbitalData.json
  execflow/entities/ProjectionData.json
  execflow/entities/PyFunction.json
  execflow/entities/PyRemoteData.json
  execflow/entities/RemoteData.json
  execflow/entities/Str.json
  execflow/entities/StructureData.json
  execflow/entities/TrajectoryData.json
  execflow/entities/UpfData.json
  execflow/entities/WorkChainNode.json
  execflow/entities/XyData.json
  execflow/workchains/declarative_chain.py
  execflow/workchains/exec_wrapper.py
  tests/declarative_chain/test_execwrapper.py
  tests/samples/bc.template
  tests/samples/exec_wrapper.yaml
Due: pylint, pylint-tests

Added dependencies that were accidentally removed
  pyproject.toml
Due: none

Removed print statements used for debugging
  execflow/data/cuds.py
  execflow/workchains/declarative_chain.py
  execflow/workchains/exec_wrapper.py
Due: pylint

changed eval to ast.litearl_eval (eval blacklisted by bandit)
  execflow/workchains/declarative_chain.py
Due: pylint

pre-commit hooks
  execflow/workchains/exec_wrapper.py
  tests/declarative_chain/test_execwrapper.py
Due: pylint, pylint-tests

another pre-commit fix
  execflow/data/cuds.py
Due: pylint

Removed newlines at end of entities
  execflow/entities/CalcFunctionNode.json
  execflow/entities/CalcJobNode.json
  execflow/entities/Dict.json
  execflow/entities/FolderData.json
  execflow/entities/Int.json
  execflow/entities/List.json
  execflow/entities/OrbitalData.json
  execflow/entities/ProjectionData.json
  execflow/entities/PyFunction.json
  execflow/entities/PyRemoteData.json
  execflow/entities/RemoteData.json
  execflow/entities/WorkChainNode.json
  execflow/entities/XyData.json
Due: none

oteapi_dlite dependency from pypi and not from branch under development
  pyproject.toml
Due: none

Use at min. AiiDA v2.5.
  pyproject.toml
Due: none

Use pyyaml instead of ruamel
  execflow/workchains/declarative_chain.py
Due: pylint

Move dependencies to be together
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Use at minimum AiiDA v2.4
  pyproject.toml
Due: none

Support at minimum AiiDA v2.1 and AiiDA-shell v0.6
  pyproject.toml
Due: none

JupyterLab instance based on AiiDAlab Docker stack
  Dockerfile
Due: none

Add a section to the README about JupyterLab
  README.md
Due: none

Comply with mkdownlint
  Dockerfile
  README.md
Due: none

Test building Dockerfile
  .github/workflows/ci_tests.yml
Due: none

Split up into separate RUN statements
  Dockerfile
Due: none

Allow version 3 for jsonschema
  pyproject.toml
Due: none

Remove pylint and isort - use ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Remove everything pylint-related
  .github/workflows/ci_tests.yml
  execflow/calculations/parse_oteapi_pipeline.py
  execflow/data/oteapi/declarative_pipeline.py
  execflow/data/oteapi/filterconfig.py
  execflow/data/oteapi/functionconfig.py
  execflow/data/oteapi/mappingconfig.py
  execflow/data/oteapi/resourceconfig.py
  execflow/data/oteapi/transformationconfig.py
  execflow/workchains/oteapi_pipeline.py
  tests/wrapper/data/test_declarative_pipeline.py
Due: pylint, pylint-tests

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix what can be auto-fixed
  .github/workflows/ci_tests.yml
  D4.5/graph.py
  D4.5/run_workflow.py
  D4.5/setup.py
  execflow/__init__.py
  execflow/_static_version.py
  execflow/calculations/fake.py
  execflow/calculations/parse_oteapi_pipeline.py
  execflow/calculations/update_oteapi_session.py
  execflow/data/cuds.py
  execflow/data/file2collection.py
  execflow/data/oteapi/__init__.py
  execflow/data/oteapi/base.py
  execflow/data/oteapi/declarative_pipeline.py
  execflow/data/oteapi/filterconfig.py
  execflow/data/oteapi/functionconfig.py
  execflow/data/oteapi/genericconfig.py
  execflow/data/oteapi/mappingconfig.py
  execflow/data/oteapi/resourceconfig.py
  execflow/data/oteapi/secretconfig.py
  execflow/data/oteapi/transformationconfig.py
  execflow/oteapi_strategies/__init__.py
  execflow/oteapi_strategies/dataresource.py
  execflow/oteapi_strategies/filter.py
  execflow/oteapi_strategies/function.py
  execflow/oteapi_strategies/mapping.py
  execflow/oteapi_strategies/transformation.py
  execflow/utils/graph.py
  execflow/utils/run_workflow.py
  execflow/workchains/declarative_chain.py
  execflow/workchains/exec_wrapper.py
  execflow/workchains/oteapi_pipeline.py
  tests/conftest.py
  tests/declarative_chain/test_execwrapper.py
  tests/declarative_chain/test_list.py
  tests/declarative_chain/test_simple_execution.py
  tests/declarative_chain/test_units.py
  tests/wrapper/data/test_declarative_pipeline.py
  tests/wrapper/workflows/test_pipeline.py
Due: pylint, pylint-tests

Further auto-fixes after updating config
  D4.5/graph.py
  D4.5/run_workflow.py
  execflow/calculations/fake.py
  execflow/data/cuds.py
  execflow/data/file2collection.py
  execflow/data/oteapi/declarative_pipeline.py
  execflow/workchains/declarative_chain.py
  execflow/workchains/exec_wrapper.py
  pyproject.toml
  tests/wrapper/data/test_declarative_pipeline.py
  tests/wrapper/workflows/test_pipeline.py
Due: pylint, pylint-tests

Satisfy updated linting tools
  execflow/data/cuds.py
  execflow/data/oteapi/declarative_pipeline.py
  execflow/utils/graph.py
  execflow/utils/run_workflow.py
  execflow/workchains/declarative_chain.py
  execflow/workchains/exec_wrapper.py
  execflow/workchains/oteapi_pipeline.py
  tests/conftest.py
  tests/wrapper/data/test_declarative_pipeline.py
  tests/wrapper/workflows/test_pipeline.py
Due: pylint, pylint-tests

Ignore safety warning 65193
  .github/workflows/ci_tests.yml
  tests/samples/pipe.yml
Due: none

Use the default branch for ExecFlow in Dockerfile
  Dockerfile
Due: none

Revert to using blind exception
  execflow/workchains/declarative_chain.py
Due: pylint

Add pytest configuration
  pyproject.toml
Due: none

Use eval-type-backport for Python 3.9
  pyproject.toml
Due: none
